body {
	font-family: $font-family-body;
    font-weight: normal;   
	background-color: $soft-lilac;  
	line-height: 1.5; 
} 


// pricing switcher
.ub-pricing__switcher {
    display: flex;
    align-items: center;
    justify-content: center;

    .ub-pricing__switcher-wrapper {
        background-color: $purple-haze;
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 6.25rem; 

        .ub-pricing__switcher-btn {
            border: none;
            background: none;
            color: $dark-gray;
            font-weight: normal;
            font-size: 1.125rem;  
            line-height: 1.6875rem;  
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
            padding: 0.5rem 0.9375rem;  
            border-radius: 3.125rem;  
            cursor: pointer;

            &.ub-pricing__switcher-btn--active,
            &:hover {
                background-color: $primary-color;
                color: $soft-lilac;
                font-weight: 500;
            }

            @media (max-width: 310px) {
                padding: 0.25rem 0.75rem; // 4px 12px → 0.25rem 0.75rem
            }
        }
    }
}

// list style  bulet
.list-bulet, 
.team-details__list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
        position: relative;
        padding-left: 1.25rem;  
        margin-left: 0.3125rem; 

        &::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%); 
            color: $dark-grayish-green;
            font-size: 1rem;
        }
    }
}

// list style dash
.list-dash {
    list-style: none;
    padding-left: 0;
    margin: 0;
  
    li {
        position: relative;
        padding-left: 1.25rem;  
        margin-left: 0.3125rem;  
        color: $dark-grayish-green;
  
        &::before {
            content: "-";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);  
            color: $dark-grayish-green;
            font-size: 1rem; 
            font-weight: 500;
        }
    }
}

//   form submit message
.success-message {
    color: green;  
    font-size: 0.875rem;     
    margin: 0.25rem;        
    font-weight: normal;
    display: none;

    &.active {
        display: block; 
    }
}

