#blog-breadcrumb{
    background-color: $light-normal;
    margin-top: -90px;
    .container {
        padding-top: 13rem;  
        padding-bottom: 24rem;  

        .section-heading{
            .section-desc{
                margin-top: 1.5rem; 
                text-align:center;
            }
        }
      }
      
}

