#ub-mission{
    .container{
        padding-top:0;

        .about-image {
            display: flex;  
            flex-direction: column;  

            .image-wrapper {
              width: 100%;  

              &.large {
                @media (min-width: 768px) {  
                  width: 66.6667%;  
                }
              }
          
              &.small {
                @media (min-width: 768px) {  
                  width: 33.3333%;  
                }
              }
          
              img {
                width: 100%;  
                height: 100%;  
                object-fit: cover;
              }
          
              
            }
            
          
            @media (min-width: 768px) {  
              flex-direction: row; 
            }
          
            gap: 1.25rem; 
          }

          .our-mission {
            display: grid;  
            grid-template-columns: repeat(1, 1fr); 
            gap: 1.25rem;  
            margin-top: 3rem;  

            .card {
              border-radius: 12px; 
              background-color: $light-normal;
              padding: 1.5rem; 

              .card-title {
                font-size: 2.25rem; 
                text-align: left;
                font-weight: 500; 
                margin-bottom: 1rem;  
              }

              .card-desc {
                text-align: left;
                line-height: 1.625;
                color: $dark-gray;
                font-size: 18px;
              }
              
              
            
              @media (min-width: 1024px) { 
                &.col-span-3 {
                  grid-column: span 3; 
                }
                &.col-span-2 {
                  grid-column: span 2;   
                }
              }
            }
            
          
            @media (min-width: 768px) {  
              grid-template-columns: repeat(2, 1fr); 
            }
          
            @media (min-width: 1024px) { 
              grid-template-columns: repeat(5, 1fr);  
            }
          }
          
          
    }
}

 