
#feature-hero {
    .feature-hero__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .feature-hero__content {
        min-height: 500px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2.5rem;
        .feature-hero__subtitle-area{
            @extend .hero__subtitle-area;
        }

        .feature-hero__subtitle-group {
            @extend .hero__subtitle-group;
            background-color: $soft-lilac;
        }

        .feature-hero__title {
            @extend .section-title;
        }

        .feature-hero__desc {
            @extend .section-desc;
        }

        .feature-hero__button-group {
            @extend .button-group;
            margin-top: 2rem;

            .feature-hero__button--primary {
                @include btn(
                    $bgColor: $text-primary, 
                    $hoverBgColor: $background-light-green, 
                    $color: $light-color, 
                    $hoverColor: $text-primary, 
                    $border: $background-light-green, 
                    $hoverBorder: $background-light-green
                );
            }

            .feature-hero__button--secondary {
                @include btn(
                    $bgColor: $background-light-green, 
                    $hoverBgColor: $text-primary, 
                    $color: $text-primary, 
                    $hoverColor: $light-color, 
                    $border: $background-light-green, 
                    $hoverBorder: $text-primary
                );
            }
        }
    }
}


#ub-features {

    .features_container {
        padding-top: 7rem;
        padding-bottom: 7rem;

        .features__subtitle-area {
            @extend .hero__subtitle-area;
        }

        .features__subtitle-group {
            @extend .hero__subtitle-group;
        }
        .features__subtitle{
            @extend .hero__subtitle;
        }

        .features__title {
            @extend .section-title;
            font-size: 2.8rem;
            max-width: 640px;
        }

        .features__desc {
            @extend .section-desc;
            max-width: 520px;
        } 

        .features__area {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 5rem;

            .features__item {
                background: $soft-lilac;
                padding: 1.5rem;
                border-radius: 1.5rem;
                background-color: $white;

                .features__item-title {
                    font-size: 2.5rem;
                    font-weight: 500;
                    margin-bottom: 1.5rem;
                    color: $dark-neutral;
                    line-height: 48px;

                    @media (max-width: 768px) {
                        font-size: 2.25rem !important;
                        line-height: 48px !important;
                    }
                }

                .features__item-desc {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: $dark-gray;
                }

                .features__item-thumbnail {
                    margin-top: 2rem;

                    img {
                        width: 100%;
                        border-radius: 1rem;
                    }
                }
            }

            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}


// feature details
#ub-feature-details{
    .feature-details__container {
        padding-top: 7rem; 
        padding-bottom: 7rem; 
    
        .feature-details__header{
            .feature-details__title{
                @extend .section-title;
            }
            .feature-details__subtitle-area{
                @extend .hero__subtitle-area;
            }
            .feature-details__subtitle-group{
                @extend .hero__subtitle-group;
            }
            .feature-details__subtitle{
                @extend .hero__subtitle;
            }
            .feature-details__desc {
               @extend .section-desc; 
            }
              
        }
 
        .feature-details__thumbnail {
            padding: 1.5rem; 
            border-radius: 1.5rem; 
            margin-top: 2.5rem;

            .feature-details__image{
                width:100%;
            }
        }
              
          
        .feature-details__content{
            display: flex;
            flex-direction: column;  
            gap: 1.5rem; 

            .feature-details__content-wrapper {
                display: flex;
                flex-direction: column;  
                gap: 1.5rem; 

                .feature-details__content-title {
                    color:$text-primary;           
                    font-weight: 500;  
                    font-size: 1.875rem; 
                  }
                  
                .feature-details__content-text,.feature-details__list--dash,.feature-details__list--bulet{
                    color: $dark-grayish-green;  
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 24px;   
                    font-size: 1.12rem;
                    line-height: 1.6;    
                } 
                .feature-details__list--dash {
                     @extend .list-dash;
                  }
                .feature-details__list--bulet {
                     @extend .list-bulet;
                  } 
              }

            @media (min-width: 768px) {   
                padding-left: 6rem; 
                padding-right: 6rem; 
            }
        } 
    
        @media (min-width: 768px) { 
            padding-left: 7rem;  
            padding-right: 7rem;  
        }
        }
}

