// pricing section 
#ub-pricing {
    &.pricing--padded{
      padding: 0 1rem;
    }
    .pricing__header {
      margin-bottom: 3rem;
  
      .pricing__subtitle-area {
        @extend .hero__subtitle-area;
  
        .pricing__subtitle-group {
          @extend .hero__subtitle-group;
  
          .pricing__subtitle {
            @extend .hero__subtitle;
          }
        }
      }
  
      .pricing__title {
        @extend .section-title;
      }
  
      .pricing__desc {
        @extend .section-desc;
      }
    }
  
    .pricing__cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
      margin-top: 4rem;
  
      .pricing__card {
        background-color: $light-lavender;
        border: 1px solid rgba(64, 64, 64, 0.12);
        padding: 2.5rem;
        border-radius: 1rem;
  
        &:hover {
          background-color: $dark-purple;
          transition: 0.5s ease;
  
          .pricing__price {
            color: $light-gray !important;
          }
  
          .pricing__plan-title,
          .pricing__plan-description,
          .pricing__features-list li,
          .fa-check {
            color: $white !important;
          }
  
          .pricing__button {
            background-color: $soft-lilac;
          }
        }
  
        .pricing__plan-title {
          font-weight: 500;
          font-size: 1rem;
          line-height: 24px;
          text-align: center;
        }
  
        .pricing__plan-description {
          font-size: 1rem;
          text-align: center;
          margin-top: 1rem;
          color: $dark-slate-gray;
          line-height: 24px;
        }
  
        .pricing__price-wrapper {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
  
          .pricing__price {
            color: $dark-neutral;
            font-size: 2.25rem;
            font-weight: 500;
            text-align: center;
            display: block;
          }
        }
  
        .pricing__features-list {
          margin-top: 2.5rem;

          li {
            margin-bottom: 0.75rem;
            text-align: center;
            color: $dark-slate-gray;
  
            i {
              width: 21px;
              height: 21px;
              color: $soft-purple;
              margin-right: 0.5rem;
            }
          }
        }
  
            
        .pricing__button {
            margin-top: 4rem;
            display: block;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            line-height: 24px;
            background-color: $light-purple;
            color: $dark-gray;
            padding: 8px 5px;
            border-radius: 32px;
            text-align: center;
            width: 100%;
            }
      }
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    }
  
    .pricing__cards--hidden {
      display: none;
    }
  }

// Pricing Page
.pricing-hero {
    &__container{
        padding-top:0;
        padding-bottom:0;
    }

    &__content{
        min-height: 700px;  
        padding-top: 7rem;   
        padding-left: 1.5rem;  
        padding-right: 1.5rem;  
        border-radius: 1.5rem; 
    }

    &__subtitle-area{
      @extend .hero__subtitle-area;
    }

    &__subtitle-group{
      @extend .hero__subtitle-group;
      background: $soft-lilac;
    }

    &__pricing-hero__subtitle{
      @extend .hero__subtitle;
    }

    &__title{
      @extend .section-title;
      max-width: 560px;
    }

    &__desc{
      @extend .section-desc;
      max-width: 500px;
    }


    @media (max-width: 454px) {
        margin-bottom: -24rem;
    }
    @media (min-width: 455px) {
        margin-bottom: -30rem;
    }
}

/* Pricing Table Styles */
#ub-pricing-table {
  overflow-x: auto;
  scrollbar-color: #aef5c7 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
      height: 8px;
  }
  &::-webkit-scrollbar-thumb {
      background-color: var(--light-purple, #d8c4fc);
      border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
      background: transparent;
  }

  .pricing-table__title {
      font-size: 2rem;
      line-height: 1.5;
      color: var(--dark-neutral, #333);
      font-weight: 500;
      margin-bottom: 1.125rem;
  }

  .pricing-table__content {
      font-size: 0.875rem;
      width: 100%;

      .pricing-table__row {
          font-weight: 400;
          text-align: left;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:nth-child(odd) {
              background-color: var(--light-purple, #f3e8ff);
          }

          &:nth-child(even) {
              background-color: var(--white, #fff);
          }

          td:last-child {
              margin-right: 5rem;
          }
      }

      .pricing-table__feature {
          padding: 0.75rem;
          color: var(--dark-gray, #666);
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5;

          &:first-child {
              width: 35%;
          }

          &:not(:first-child) {
              text-align: center;
              width: calc(65% / 3);
          }
      }
  }

  @media screen and (max-width: 767px) {
      .pricing-table__content {
          min-width: 767px;
      }
  }
}

// pricing details page
#ub-pricing-details{
    .pricing-details__wrapper{
      display: grid;
      grid-template-columns: repeat(1, 1fr);   
      gap: 3rem;  

        @media (min-width: 1024px) {  
          grid-template-columns: repeat(2, 1fr);  
          gap: 5rem;
      }      
    }

    .pricing-details__content{
      max-width: 704px;
    }
          
    .pricing-details__title{
      @extend .hero__title;
        margin-top:0;
        text-align:left;
        margin-bottom: 1rem;
    }

    .pricing-details__subtitle{
      font-size: 1.25rem;
      font-weight: 500;
      color: $dark-gray;
      line-height: 1.5;
      margin-bottom: 1rem;
    }

    .pricing-details__desc{
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
      color:$gray-medium;
    }

    .pricing-details__list {
        @extend .list-bulet;

        color: $gray-medium;  
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;   
        line-height: 1.5;  

        li{
          margin-bottom: 1rem;
        }
    }

    .pricing-details__section{
      border-top: 1px solid $purple-haze; 
      margin-top: 1.5rem;
      padding: 1rem 0;
    }


    // pricing switcher
    .pricing-details__switcher {
        display: flex;  
        align-items: center;  
        justify-content: center; 
    
        .pricing-details__switcher-wrapper{
            background-color: $purple-haze;
            padding: 0.5rem;  
            display: inline-flex;  
            align-items: center;  
            justify-content: center;  
            gap: 1rem;  
            border-radius: 9999px;    
    
            .pricing-details__switcher-btn {
                border: none;
                background: none;
                color: $dark-gray;
                font-weight:normal;
                font-size:18px;
                line-height:27px;
                transition: color 0.3s, background-color 0.3s; 
                padding: 8px 15px;
                border-radius: 50px;
                cursor: pointer;
        
                &.pricing-details__switcher-btn--active {
                    background-color: $primary-color; 
                    color:$soft-lilac;
                    font-weight:500;   
                }
        
                &:hover {
                    background-color:$primary-color;
                    color:$soft-lilac;
                    font-weight:500;
                }
                @media (max-width: 310px) {
                        padding: 4px 12px;
                }
            }
        }
        
    }

    // pricing card
    .pricing-details__card{
        border: 1px solid $purple-haze;
        border-radius: 10px;
        padding: 2rem 1rem;
        display: block;
        margin-top: 2rem;
        max-width: 496px; 

        &--hidden{
          display: none; 
        }

        &--active{
          display: block; 
        }
    }
    
    .pricing-details__options {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;

        @media (max-width: 1024px) {  
          justify-content: start;
          align-items: start;
      }  
    }

    .pricing-details__card-price{
        font-size: 2.5rem; 
        font-weight: 500;
        line-height: 48px;
        color: $dark-neutral;

        span{
            font-size: 20px;
            line-height: 28px;
        }
    }

    .pricing-details__card-desc{
        margin: 20px 0px;
        color:$gray-medium;
        font-weight: 400;
        font-size: 16px;
    }

    .pricing-details__card-btn{
        @include btn; 
        display: block;
        text-align: center; 
    }
}

  
  
