#ub-blog{
    .blog__header{
        .blog__subtitle-area{
            @extend .hero__subtitle-area;
            .blog__subtitle-group{
                @extend .hero__subtitle-group;  
                .blog__subtitle{
                    @extend .hero__subtitle;
                }
            }
        }
        .blog__title{
            @extend .section-title;
            max-width: 640px;
        }
        .blog__desc{
            @extend .section-desc;
            max-width: 480px;
        }
    }

    .blog__cards {
        display: grid;
        grid-template-columns: 1fr;  
        gap: 2rem;  
        margin-top: 5rem;
        .blog-card{
            padding: 24px 16px;
            border-radius: 16px;
            border: 1px solid $light-gray;

            .blog-card__image-wrapper {
                border-radius: 16px;

                img{
                    width: 100%;
                    height: auto;
                }
            }
            .blog-card__content{
                padding: 20px 0px;

                .blog-card__title{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    color: $text-primary;
                }
                .blog-card__text{
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 24px;
                    color: $dark-slate-gray;
                    margin-top: 16px;
                }
                .blog-card__link-wrapper{
                    display: inline-flex;
                    align-items: center;
                    margin-top: 24px;

                    &:hover >.blog-card__link-icon {
                        transform: rotate(45deg);
                        transition: transform 0.5s ease;  
                    }

                    .blog-card__link {
                        color: $soft-purple;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 24px;
                        margin-right: 5px;
                        display: inline-flex;
                        align-items: center;
                        transition: all 0.3s ease;
        
                    }
                    
                    .blog-card__link-icon {
                        width: 25px;
                        margin-left: 5px;
                    }
                    
                    
                }
            }
        }
    }

    .blog__btn-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 44px;

        .blog__btn{
            @extend .btn-primary;
        }
    }
    
    @media (min-width: 768px) {
        .blog__cards {
            grid-template-columns: repeat(2, 1fr);  
        }
    }
    
    @media (min-width: 1024px) {
        .blog__cards {
            grid-template-columns: repeat(3, 1fr); 
        }
    }
    
}

// blog details
#ub-blog-details{
    .blog-details__container {
        padding-top: 7rem; 
        padding-bottom: 7rem; 
    
        .blog-details__header{
            .blog-details__meta {
                display: flex;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;
                margin: 1.5rem 0 1rem;
    
                .blog-details__category {
                    background-color: $purple-haze;
                    padding: 8px 12px;
                    border-radius: 0.5rem;
                    font-weight: 500;
                    color: $dark-gray;
                }
    
                .blog-details__date {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    background-color:$purple-haze;
                    padding: 6px 12px;
                    border-radius: 4px;
    
                    img {
                        width: 18px;
                        height: 18px;
                    }
    
                    span {
                        font-weight: 500;
                        color: $dark-gray;
                    }
                }
            }

            .blog-details__title{
                @extend .section-title;
                font-size: 2.5rem !important;
                line-height:  1.2 !important;
            }

            .blog-details__desc {
               @extend .section-desc; 
            }
              
        }
 
        .blog-details__thumbnail {
            padding: 1.5rem; 
            border-radius: 1.5rem; 
            margin-top: 2.5rem;

            .blog-details__image{
                width:100%;
            }
        }
              
          
        .blog-details__content{
            display: flex;
            flex-direction: column;  
            gap: 1.5rem; 

            .blog-details__content-wrapper {
                display: flex;
                flex-direction: column;  
                gap: 1.5rem; 

                .blog-details__content-title {
                    color:$text-primary;           
                    font-weight: 500;  
                    font-size: 1.875rem; 
                  }
                  
                .blog-details__content-text,.blog-details__list--dash,.blog-details__list{
                    color: $dark-grayish-green;  
                    font-weight: 400;
                    font-size: 1.12rem;
                    line-height: 1.6;     
                } 
                .blog-details__list--dash {
                     @extend .list-dash;
                    
                  }
              }

            @media (min-width: 768px) {   
                padding-left: 6rem; 
                padding-right: 6rem; 
            }
        } 
    
        @media (min-width: 768px) { 
            padding-left: 7rem;  
            padding-right: 7rem;   
        }
        }
}
 
 